
.navbar{
    background-color: black;
    height: 90px;
}

.container-fluid{
    margin: 0 6% 0 6% ;
}

#input{
    width: 50%;
}

.cine, img{
    width: 200px;
    cursor: pointer;
}


#navbarSupportedContent{
    margin: 0 0 0 5%;
}

.loguin{
    width: 60px;
    height: 38px;
}

#navbar-nav li {
    margin: 0 2%;
}

.nav-item{
    padding: 0 5px 0 5px;
    background-color: #0076ff;
    border-radius: 13px;
}

.nav-item:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 254);
}

.banner{
    background-image: url('../img/banner3.jpg');
    padding: 10% 30% 45% 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    padding: 15px;
    border: none;
}

.Card-title{
    color: black;
}

.card-img-top{
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-img-top:hover{
    transform: scale(1.01,1.01);
}

.text{
    font-size: 12px;
    background-color: #ebe5e5;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.text2{
    width: 24%;
    font-size: 12px;
    background-color: #ebe5e5;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
}

.title{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 30px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.imagenFother{
    margin-left: 70px;
}

footer{
    margin-top: 20px;
}


/* stylos views*/

.banner2{
    background-image: url('../img/BannerMascotas-01.png');
    padding: 10% 30% 45% 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;

}

#contenedor{
    position: relative;
    margin-top: 5%;
}

#foto{
    border-radius: 5px;
    box-shadow: 20px -15px black;
}
.butonInfo{
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.butonInfo p{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.butonInfo p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}

/*stylos a cinema*/

.bloque{
    margin: 0 auto;
    background-color: black;
    width: 70%;
    height: 75px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 20px;
}
.bloque h3{
    color: white;
    font-weight: bold;
}