
.inactive{
    display: none;
}

.navbar{
    background-color: black;
    height: 120px;
}

.container-fluid{
    margin: 0 6% 0 6% ;
}

#input{
    width: 50%;
}

.cine, img{
    width: 200px;
    cursor: pointer;
    display: flex;
}

.menuLineas{
    width: 28px;
    margin-right: 20px;
}

#navbarSupportedContent{
    margin: 0 0 0 5%;
}

.loguin{
    width: 60px;
    height: 38px;
}

.flechaBlanca{
    width: 13px;
    position: absolute;
    top: 57px;
    right: 164px;
}

.flechaBlanca:hover{
    -webkit-transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

.carrito{
    width: 30px;
    position: absolute;
    top: -3px;
    right: 10px;
}

.navCarroCompras{
    position: absolute;
    cursor: pointer;
    right: 30px;
}
.navCarroCompras div {
    width: 16px;
    height: 16px;
    background-color: yellow;
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
  }

#navbar-nav li {
    margin: 0 2%;
}

.nav-item{
    padding: 0 10px 0 10px;
    background-color: #0076ff;
    border-radius: 13px;
    font-weight: bold;
}

.nav-item:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 254);
}

.banner{
    background-image: url('../img/banner9-01.jpg');
    padding: 10% 30% 45% 20%;
    margin-top: 6%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner3{
    background-image: url('../img/banner11.jpg');
    padding: 28% 30% 35% 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}
.banner4{
    background-image: url('../img/banner10.jpg');
    padding: 28% 30% 35% 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:6%;
}

.card{
    padding: 15px;
    border: none;
}

.Card-title{
    color: black;
}

.card-img-top{
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-img-top:hover{
    transform: scale(1.01,1.01);
}

.text{
    font-size: 12px;
    background-color: #ebe5e5;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.text2{
    width: 24%;
    font-size: 12px;
    background-color: #ebe5e5;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}
.valorPrecios{
    width: 24%;
    font-size: 12px;
    background-color: #ebe5e5;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.valorPrecios:hover{
    color: white;
    background-color: #c3c3c3;
}

.title{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 30px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.title2{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 30px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.title3{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 150px 0 30px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.titleCrispetas{
    color: black;
    font-weight: bold;
    margin: 80px 0 40px 0;
}

.imagenFother{
    margin-left: 70px;
}

.bannerGrandes{
    margin-top: 10%;
    background-color: rgb(236, 236, 236);
    padding: 15px;
}

footer{
    margin-top: 100px;
}


/* stylos views*/

.banner2{
    background-image: url('../img/BannerMascotas-01.png');
    padding: 10% 30% 45% 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;

}

#contenedor{
    margin-top: 5%;
}

#foto{
    width: 400px;
    height: 600px;
    object-fit: cover;
    margin-top: -350px;
    right: 815px;
    z-index: 10px;
    border-radius: 7px;
    box-shadow: 20px -15px white;
}

.infoTexto{
    margin-top: 10% ;
}

#infoRight{
    margin-left: 8%;
}

.butonInfo{
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.butonInfo p{
    margin: 0;
    padding: 0;
}
.butonInfo p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}

.buttones{
    margin-left: 55px;
}

.funciones{
    text-align: center;
    font-weight: bold;
    margin-top: -5px;
    padding: 10px;
    margin-bottom: 10px;
}

.contenedorClass{
    background-color: rgb(238, 238, 238);
    width: 110%;
    height: 70%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textComercial{
    margin-left: 15px;
}

.centrosComerciales{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid  rgb(199, 197, 197);
    position: relative;
}
.centrosComercialesSinBorde{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    position: relative;
}

.centrosComercialesSinBorde:hover{
    cursor: pointer;
    background-color: rgb(231, 230, 230);
}

.centrosComerciales:hover{
    cursor: pointer;
    background-color: rgb(231, 230, 230);
}

.circulo{
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: absolute;
    right: 10px;
}
.circulo .flecha{
    width: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
    left: 3px;
}

.flecha:hover{
    -webkit-transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

.comerciales2{
    background-color: rgb(251, 248, 248);
    width: 100%;
    height: 18%;
    padding: 10px;
    box-shadow: 3px 2px 8px rgb(126, 126, 126);
    border-radius: 0 5px ;
    outline: none;
    transition: all 700ms;
}

.idioma{
    margin-left: 25px;
}

.horarioCine ul{
    list-style: none;
    padding: 8px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.horarioCine ul li{
    margin: 0 10px 0 10px;
    color: #0076ff;
}
.hora{
    border: 1px solid #0076ff;
    padding: 6px 10px 6px 10px;
    border-radius: 15px;
}

.horarioCine ul .hora:hover{
    cursor: pointer;
    color: white;
    background-color: #3b97ff;
}

/*stylos a cinema*/

.contenedorSesion{
    margin-top: 10%;
}

.containerCenter{
   display: flex;
   justify-content: center;
   justify-items: center;
}

.factura{
    width: 600px;
    height: 500px;
    /* display: none; */
}
.reserva{
    display: flex;
    width: 340px;
    padding: 10px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 5px;
    margin: 15px auto 20px auto;
}
.info-voleta{
    width: 340px;
    height: 65%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.418);
    background-image: linear-gradient(rgba(255, 255, 255, 0.784), #000);
}
.logo-cine{
    width: 100%;
    height: 120px;
    padding: 10px;
}
.texts-voleta{
    margin-top: 25px ;
    color: black;
}
.congratulation{
    margin-top: 10px;
    color: rgb(201, 201, 233);
    padding: 10px;
    text-align: center;
}
.logo-img{
    width: 100%;
    height: 100%;
}
label{
    color: white;
}
.info-voleta:hover{
    background-color: aqua;
    transition: 1s;
}
.bloque{
    margin:  0 auto;
    display: flex;
    background-color: black;
    width: 70%;
    height: 150px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}
.bloque h3{
    color: white;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.botones{
    margin: 0 10% 0 10%;
}

.poster{
    display: flex;
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
    box-shadow: 10px 5px 5px rgb(227, 227, 227);
}

.poster img{
    width: 50px;
    height: 50px;
}

.posterTexto{
    position: relative;
    margin-right: 45px;
    display: flex;
    margin-top: 10px;
}

.posterTexto p {
    margin-left: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.pantalla{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

/*ESTILOS ALTERNATIVOS*/
