.banner{
    background-image: url('../img/banner3.jpg');
    padding: 10% 30% 45% 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Card-title{
    color: red;
}

.title{
    color: red;
    text-align: center;
    margin: 50px 0 50px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}