<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    
    <header>

    </header>

    <main>

        <div class="container my-5">

            <div class="row justify-content-center ">

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

            </div>

            <div class="row justify-content-center ">

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

            </div>

            <div class="row justify-content-center mt-5">

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

            </div>

            <div class="row justify-content-center mt-5">

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

                <div class="col-1">
                    <img src="../../assets/img/cinema-chair.png" alt="" class="img-flui w-100">
                </div>

            </div>

        </div>

    </main>

    <footer>

    </footer>


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>