<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/style.css">
</head>
<body>
    
    <header>
        
    </header>

    <main>
            <div class="container my-3 ">
                <div class="row">
                    <div class="col-12 col-md-6" id="salaCinema">
                        <div class="igmchair">
                            <img src="/CineMiercoles/assets/img/cinema-chair.png" alt="primera1">
                            <img src="/CineMiercoles/assets/img/cinema-chair-verde.png" alt="">
                            <img src="/CineMiercoles/assets/img/cinema-chair-rojo.png" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 border-start border-5 ">
                        <section class="factura">
                            <h3 class="reserva">Tu reserva</h3>
                            <div class="info-voleta">
                                <div class="logo-cine">
                                    <img src="/CineMiercoles/cine_colombia-01.svg" alt="" class="logo-img">
                                </div>
                                <div class="texts-voleta">
                                    <h4>Total Acientos</h4>
                                    <label for="" id="cantidadyValor">0</label>
                                    <h4>Valor a Pagar</h4>
                                    <label for="" id="precio">0</label>
    
                                    <h5 class="congratulation">Gracias por preferirnos</h5>
                                </div>
                            </div>  
                        </section>
                    </div>
                    
                </div>

                <div class="botones">
                    <a type="button" class="btn btn-dark mt-4" id="validar">Validar Reserva</a>
                    <a href="../../comidas.html" class="btn btn-dark mt-4" id="seguir">Siguiente</a>
                    <a type="button" class="btn btn-dark mt-4" id="pago">Pagar</a>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="container">
            <div class="col-12 col-md-5 bloque">
                <h3 class="pantalla">Pantalla</h3>
            </div>
        </div>
    </footer>

    <script src="../controllers/controladorsalacinema.js" type="module"></script>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>